<div class="row">
    <div class="col-md-3 m-4">
        <h2>Create New Post</h2>          
        <form class="new-posting">
        <div class="form-group">
            <label for="email-login">Title:</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <div class="form-group">
            <label for="password-login">Text:</label>
            <textarea class="form-input" id="post-text"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Create</button>
        </div>
        </form>
    </div>
</div>

<script src="./js/create-post.js"></script>