<div class="row">
    <div class="col-md-3 m-4">
        <h2>Create New Post</h2>          
        <form class="new-posting">
        <div class="form-group">
            <label for="email-login">Title:</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <div class="form-group">
            <label for="password-login">Text:</label>
            <textarea class="form-input" id="post-text"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success create-post" type="submit">Create</button>
        </div>
        </form>
    </div>
</div>

{{#if postings.length}}

<div>
    <h2 class="m-4">Your Posts</h2>
    <div>
        {{#each postings as |posting|}}
        <div>
            {{> post posting}}
            <a class="m-4" href="/dashboard/edit/{{post.id}}" class="edit">Edit post</a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<script src="./js/create-post.js"></script>