{{> post-with-comments posting}}

{{#if logged_in}}
<form id="comment-form" class="post">
    
    <div class="comment-card-header p-2">
        <textarea id="comment-text" placeholder="Add comment here..."></textarea>    
    </div>

    <div class="p-2">
        <button class="bg-success" id="comment-submit-btn" type="submit">Submit</button>
    </div>            

</form>

<script src='/js/comment.js'><</script>
{{/if}}