{{> posting-info posting }}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea id="comment-body" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="submit-btn">Submit Comment</button>
  </div>
</form>
{{/if}}

{{> comments posting.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}