nav {
  font-size: 1.5em;
}
.large{
  font-size: 2em;
}

input[type="password"] {
  width: 210px;
}

#name-signup{
  width: 197px;
}

#name-login{
  width: 198px;
}

.card-header{
  background-color: rgb(178, 178, 180);
}

.post{
  margin: 2em;
}