nav {
  font-size: 1.5em;
}
.large{
  font-size: 2em;
}

input[type="password"] {
  width: 210px;
}

#name-signup{
  width: 197px;
}

#name-login{
  width: 198px;
}

.card-header{
  background-color: rgb(178, 178, 180);
}

.post{
  margin: 2em;
  border-style: double;
}

#logout{
  border-radius: 10%;
  background-color: red;
}

.edit-post{
  background-color: rgb(241, 243, 243);
}

#comment-submit-btn{
  border-radius: 10%;

}

.all-comments{
  background-color: rgb(80, 135, 190);
}

.title-animate{

  width: 600px;
  height: 80px;
  color: blue;
  position: relative;
  animation-name: test;
  animation-duration: 10s;
  animation-iteration-count: infinite;  
}

@keyframes test {

  0%   {color:red;}
  20%  {color: orange;}
  40%  {color:yellow;}
  60%  {color:yellowgreen;}
  80%  {color:green;}
  100% {color:blue;}


}